<div class="formMov">
  <ng-container >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Incluir aluno na turma</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Aluno: {{turma?.ano}}</p>
        <p>Idade: {{turma?.turno}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Selecionar Turma</mat-card-title>
      </mat-card-header>
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="form" fxFlex="1 1 auto"
      >
        <mat-form-field>
          <mat-label>Turmas</mat-label>
          <mat-select formControlName="turmaID">
            <mat-option *ngFor="let turma of turmas" [value]="turma.id">{{ turma.titulo }}</mat-option>
          </mat-select>
        </mat-form-field>


        <div class="btn-mov" fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
          <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">
            Limpar
          </button>
          <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
        </div>
      </form>
    </mat-card>

  </ng-container>

  <div class="btn-mov" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
  </div>
</div>

<div class="formMov" fxLayout="row" fxLayoutAlign="center">

</div>
