<div class="formMov">
  <ng-container >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Incluir aluno na turma</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Ano da turma: {{turma?.ano}}</p>
        <p>Turno: {{turma?.turno}}</p>
        <p>Horário de aula: {{turma?.horaInicio}} ás {{turma?.horaFim}}</p>
        <p>Professora: {{turma?.nomeProfessor}}</p>

      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Selecionar Turma</mat-card-title>
      </mat-card-header>
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="form" fxFlex="1 1 auto"
      >
        <h1>{{acao}} Turma</h1>

        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input matInput formControlName="titulo" >
        </mat-form-field>


        <div class="btn-mov" fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
          <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">
            Limpar
          </button>
          <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
        </div>
      </form>
    </mat-card>

  </ng-container>

  <div class="btn-mov" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
  </div>
</div>

<div class="formMov" fxLayout="row" fxLayoutAlign="center">

</div>
