@import '../../../StyleForms.css';

.tela-inteira {
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imagem-lateral {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
}

.canto-superior-direito, .canto-superior-esquerdo {
  position: absolute;
  max-width: 1100px;
  max-height: 600px;
  top: -150px;
}

.canto-superior-direito {
  right: -270px;
}

.canto-superior-esquerdo {
  left: -270px;
}

.lado-direito {
  top: 60%;
  right: 350px;
  transform: translateY(-50%);
}

.lado-esquerdo {
  top: 60%;
  left: 350px;
  transform: translateY(-50%);
}

.logo {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 350px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  user-select: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  font-size: 24px;
}

.container-login {
  width: 350px;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  background-color: white;
  max-width: 90%;
}

@media (max-width: 1280px) {
  .canto-superior-direito,
  .canto-superior-esquerdo,
  .lado-direito,
  .lado-esquerdo {
    display: none;
  }
  .logo {
    width: 50%;
  }
  .container-login {
    margin-top: 15%;
  }
}

@media (max-width: 1100px) {
  .canto-superior-direito,
  .canto-superior-esquerdo,
  .lado-direito,
  .lado-esquerdo {
    display: none;
  }
  .logo {
    width: 60%;
  }
  .container-login {
    margin-top: 18%;
  }
}

@media (max-width: 900px) {
  .canto-superior-direito,
  .canto-superior-esquerdo,
  .lado-direito,
  .lado-esquerdo {
    display: none;
  }
  .logo {
    width: 70%;
  }
  .container-login {
    margin-top: 22%;
  }
}

@media (max-width: 768px) {
  .canto-superior-direito,
  .canto-superior-esquerdo,
  .lado-direito,
  .lado-esquerdo {
    display: none;
  }
  .logo {
    width: 80%;
  }
  .container-login {
    margin-top: 28%;
  }
}

@media (max-width: 480px) {
  .canto-superior-direito,
  .canto-superior-esquerdo,
  .lado-direito,
  .lado-esquerdo {
    display: none;
  }
  .logo {
    width: 90%;
  }
  .container-login {
    margin-top: 35%;
  }
}

//telas maiores reposnividade
@media (min-width: 2000px) {
  .imagem-lateral {
    max-width: 500px;
    max-height: 500px;
  }

  .canto-superior-direito,
  .canto-superior-esquerdo {
    max-width: 1200px;
    max-height: 600px;
  }

  .lado-direito,
  .lado-esquerdo {
    max-width: 500px;
    max-height: 500px;
  }
}

.imagem-lateral {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.imagem-lateral.esquerda {
  background-image: url("/assets/fotos_login/imagem2_crianca2.png");
}

.login-content {
  font-family: DM Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.button {
  font-family: DM Roboto, sans-serif;
  font-size: 16px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  background: #4AB0D9;
  color: white;
  width: 120px;
  height: 30px;
  display: block;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #b2e2ff;
}

.link_esqueceu-senha {
  color: black;
  cursor: pointer;
  font-family: DM Roboto, sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link_esqueceu-senha:hover {
  color: darkgray;
}

.link_esqueceu-senha:active {
  color: black;
}


