<div class="tela-inteira">
    <div class="container">
        <form
                [formGroup]="formGroup"
                (ngSubmit)="onSubmit()"
                class="form"
        >
            <div class="login-content">
                <h1>Entrar</h1>
                <mat-form-field >
                    <mat-label >CPF</mat-label>
                    <input matInput formControlName="login" autocomplete="off"
                           placeholder="Digite seu cpf" type="cpf">
                    <mat-error *ngIf="handleError('login', 'required')">
                        O CPF é obrigatório
                    </mat-error>
                    <mat-error *ngIf="handleError('login', 'cpfInvalido')">O CPF está inválido</mat-error>

                </mat-form-field>

                <mat-form-field >
                    <mat-label >Senha</mat-label>
                    <input matInput formControlName="senha" type="password" title="Senha"
                           placeholder="Digite sua senha">
                    <mat-error *ngIf="formGroup.get('senha')?.hasError('required')">A senha é obrigatória</mat-error>
                </mat-form-field>

                <button class="button" type="submit"  title="Entrar">
                    <span>Entrar</span>
                </button>

                <div class="esqueceu-senha">
                    <a href="/esqueceusenha" class="link_esqueceu-senha">Esqueceu a senha?</a>
                </div>

              <div class="esqueceu-senha">
                <a href="/home" class="">Página Inicial</a>
              </div>

            </div>
        </form>
    </div>
</div>
