<div fxLayout="column" fxLayoutAlign="space-evenly center">

  <div *ngIf="this.isFileImage">
    <div class="toolbar">
      <button class="zoom-button" (click)="zoomIn()">+</button>
      <button class="zoom-button" (click)="zoomOut()">-</button>
      <button class="zoom-button" (click)="downloadFile()"><mat-icon>download</mat-icon></button>
    </div>
    <div class="image-container"
         (wheel)="onWheel($event)"
         (touchstart)="onTouchStart($event)"
         (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd($event)"
         (pointerdown)="onPointerDown($event)"
         (pointermove)="onPointerMove($event)"
         (pointerup)="onPointerUp($event)">
      <div class="image-wrapper">
        <img [src]="this.fileSRC"
             [ngStyle]="this.mudarAlinharImagem()"
             [style.transform]="'scale(' + zoomLevel + ') translate(' + offsetX + 'px, ' + offsetY + 'px)'"
             alt="Imagem" >
      </div>
    </div>
  </div>
    <ngx-extended-pdf-viewer
      class="viewer"
      *ngIf="this.isFileDocument"
      [src]="this.fileSRC"
      [zoom]="this.mudarZoom()"
      [showToolbar]="true"
      [showSidebarButton]="false"
      [showFindButton]="true"
      [showPagingButtons]="false"
      [showDrawEditor]="false"
      [showStampEditor]="false"
      [showTextEditor]="false"
      [showZoomButtons]="true"
      [showPresentationModeButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="true"
      [showSecondaryToolbarButton]="false"
      [showHandToolButton]="false"
      [showScrollingButton]="false"
      [showSpreadButton]="false"
      [showPropertiesButton]="false"
      [height]="mudarAlinharDocHeight()"
      [mobileFriendlyZoom]="'true'"
      [textLayer]="true"
      [ngStyle]="this.mudarAlinharDocWidth()" >
    </ngx-extended-pdf-viewer>
  <div *ngIf="naoTemArq" class="arquivo-inexistente" [ngStyle]="this.mudarAlinharImagem()"></div>
  <div class="divBotoes" [fxLayout]="mudarAlinharBotoes()" fxLayoutAlign="space-between center"
       *ngIf="!this.verificarAlinhar()">
  <button class="file-button-document fechar" (click)="closeDialog()">Fechar</button>
    <input *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" type="file" style="display: none" id="substituirArq" (change)="substituirArq($event)" #fileUpload>
    <label *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" for="substituirArq" class="file-button-document substituir">Substituir</label>
    <button *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" class="file-button-document salvar" (click)="salvarArq()">Salvar</button>
  </div>
  <div class="divBotoes" [fxLayout]="mudarAlinharBotoes()" fxLayoutAlign="space-between center"
       *ngIf="this.verificarAlinhar()">
    <button *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" class="file-button-document salvar" (click)="salvarArq()">Salvar</button>
    <input  *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" type="file" style="display: none" id="substituirArqMenor" (change)="substituirArq($event)" #fileUpload>
    <label *ngIf="tipoDeFormulario == 'Editar' || tipoDeFormulario == 'Validar'" for="substituirArqMenor" class="file-button-document substituir">Substituir</label>
    <button class="file-button-document fechar" (click)="closeDialog()">Fechar</button>
  </div>
</div>
