.file-button-document {
  color: white ;
  text-align:center;
  align-items: center;
  width: 200px ;
  line-height: 35px;
  height: 35px ;
  font-family: DM Roboto, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.fechar {
  background:#FF7676 ;
}

.substituir{
  background: #f6e39b ;
  color: black;
}

.salvar{
  background:#5AB9EA ;
}

.viewer {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  user-select: none;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.zoom-button {
  background: #5AB9EA;
  color: white;
  text-align: center;
  width: 55px;
  height: 55px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.zoom-button:hover {
  background: #0056b3;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease-in-out;
}

.arquivo-inexistente {
  background-image: url("/assets/fotos_documentos/documento_inexistente.png") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 230px 200px;
  text-align:center;
  align-items: center;
  line-height: 35px;
  margin: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
}
