

h2 {
  margin-top: 0;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#5AB9EA !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
a {
  color: black;
}
