mat-toolbar {
  background: #F2A950;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: bisque;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: white !important;

  mat-icon {
    margin-right: 8px;
  }
}


.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-icon{
  background-image: url("/assets/fotos_login/foto_home.png") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 50px;
  border: none;
  display: flex;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.menu-button span.texto-cor {
  color:black;
}

.menu-button mat-icon.icon-cor{
  color: black;
}