mat-toolbar {
  background: #F28749;
  color: black;

}

mat-sidenav {
  background: #FFE3D2;
  color: black;
  text-align: center;
}

.content {
  height: calc(100vh - 96px);
  padding: 16px;
  overflow: auto;
}

mat-sidenav-container {
  height: 100%;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: black !important;
  font-family: Roboto, sans-serif;

  mat-icon {
    margin-right: 8px;
    cursor: pointer;
  }

}

.mat-sidenav :hover {
  background: #1CA64C;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-icon{
  background-image: url("/assets/logos/logo_sagrada_familia.png") ;
  background-repeat: no-repeat;
  background-color: #F28749;
  background-position: center;
  background-size: 200px 150px;
  border: none;
  display: flex;
  cursor: pointer;
  height: 50px;
  width: 200px;
}


.menu-button span.texto-cor {
  color:black;
}

.menu-button mat-icon.icon-cor{
  color: black;
}
