<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <button class="custom-icon" routerLink="/home" >
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button title="Home"  mat-button class="menu-button" routerLink="/home"> Home
      <mat-icon>home</mat-icon>
    </button>
    <button title="Categoria" mat-button class="menu-button" routerLink="/categoria"> Validações de <br>Matrículas
      <mat-icon>check_circle</mat-icon>
    </button>
    <button title="Produto"  mat-button class="menu-button" routerLink="/produto">
      <mat-icon>face</mat-icon> Matrículas
    </button>
    <button title="Funcionário"  mat-button class="menu-button" routerLink="">
      <mat-icon>airline_seat_recline_normal</mat-icon> Turmas
    </button>
    <button title="Cliente"  mat-button class="menu-button" routerLink="/funcionario">
      <mat-icon>supervisor_account</mat-icon>Funcionários
    </button>

    <mat-divider></mat-divider>

    <button title="Sair" mat-button class="menu-button" (click)="sair()"> Sair
      <mat-icon>logout</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
