@import '../../../../StyleForms.css';

.button-busca{
  font-family: DM Roboto, sans-serif;
  font-size: 13px;
  padding:1px;
  text-decoration: none;
  background: #5AB9EA;
  color: white;
  height:60%;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
  margin: 6px;
  width: 15%;
}
.options{
  width: 30%;
}


