
<form
  [formGroup]="formGroup"
  (ngSubmit)="search()"
  class="form"
>
  <div fxFlex="1 1 auto" [fxLayout]="mudarAlinhar()" fxLayoutAlign="center center" >
    <mat-form-field >
      <mat-label>Campo</mat-label>
      <mat-select formControlName="searchParameter">
        <mat-option *ngFor="let parameter of searchFieldsParamters" [value]="parameter">{{parameter.label}}</mat-option>
      </mat-select>
      <mat-error validationMessage></mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Condição</mat-label>
      <mat-select formControlName="searchConditionKey" >
        <mat-option *ngFor="let parameter of searchConditionKeys" [value]="parameter">{{SearchType[parameter]}} </mat-option>
      </mat-select>
      <mat-error validationMessage></mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!showFieldSearch">
      <mat-label>Busca</mat-label>
      <input matInput placeholder="Informe o valor da busca" title="Busca"
             formControlName="searchValue" name="nome"  required maxlength="50"
      >
      <mat-error validationMessage ></mat-error>
    </mat-form-field>
    <mat-form-field   *ngIf="showFieldSearch">
      <mat-label>Busca</mat-label>
      <input type="text"
             placeholder="Digite para filtrar"
             aria-label="Busca"
             matInput
             formControlName="searchValue"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getSearchValueDescription">
        <mat-option *ngFor="let option of searchParameterFiltered | async" [value]="option">{{option.description}}</mat-option>
      </mat-autocomplete>
      <mat-error validationMessage></mat-error>
    </mat-form-field>
      <button mat-raised-button class="button-busca" (click)="search()" type="submit">Buscar</button>
      <button mat-button mat-raised-button  class="button-busca" type="button" (click)="searchAll()">Todos</button>
  </div>
</form>

