<div class="formPadrao" fxLayout="column" fxLayoutAlign="center center">

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
    <h1>Digite seu CPF para continuar</h1>
    <mat-form-field >
      <mat-label >CPF</mat-label>
      <input  matInput formControlName="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
      <mat-error *ngIf="handleError('cpf', 'required')">CPF Obrigatório</mat-error>
      <mat-error *ngIf="handleError('cpf', 'cpfInvalido')">CPF Inválido</mat-error>
    </mat-form-field>


  <div  class="divBotoes" [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-between center" *ngIf="!this.verificarAlinharDiv">
      <button mat-raised-button class="button botao-cancelar" type="button" title="Cancelar" (click)="this.mensagens.acaoCancelarDialog()">
        <span>Cancelar</span>
      </button>

      <button mat-raised-button class="button" type="submit" >
        <span>Próximo</span>
      </button>
  </div>

  <div class="divBotoes" [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-between center" *ngIf="this.verificarAlinharDiv">
    <button mat-raised-button class="button" type="submit" >
      <span>Próximo</span>
    </button>

    <button mat-raised-button class="button botao-cancelar" type="button" title="Cancelar" (click)="this.mensagens.acaoCancelarDialog()">
      <span>Cancelar</span>
    </button>

  </div>

  </form>
</div>


