<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu sua senha?</title>
</head>
<body>

<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="1 1 auto">
        <h2>Esqueceu sua senha?</h2>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input matInput formControlName="cpf" type="text" id="cpf" mask="000.000.000-00" formControlName="cpf" placeholder="Digite seu CPF" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input matInput formControlName="email" type="email" id="email"  placeholder="Insira seu e-mail" required>
        </div>
        <button type="submit">Recuperar Senha</button>
    </form>
</div>

</body>
</html>
