<h1 mat-dialog-title>Como fazer a pré-matrícula do seu filho </h1>

<iframe [ngStyle]="this.mudarTamanho()" src="https://www.youtube.com/embed/19kGVViPK5I?si=yn9GrnvOFOubM4yi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<div fxLayout="column" fxLayoutAlign="space-evenly center">
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="button-fechar">Fechar</button>
</mat-dialog-actions>
</div>
