<div class="formMov">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" fxFlex="1 1 auto">
        <h1><strong>Necessidade Especial do Aluno: {{ nomeAluno }}</strong></h1>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="observacoes">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button type="submit">Salvar</button>
        </div>
    </form>
</div>
