
<div class="formPadrao" fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" [ngClass]="{'form-submitted': submitFormulario}" fxFlex="1 1 auto">

    <h2>{{acao}}  Funcionário</h2>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="pessoaNome" placeholder="Digite o nome do funcionário" maxlength="200" mask="S*" [patterns]="validacoes.customPatterns">
      <mat-error *ngIf="handleError('pessoaNome', 'required')">Campo Obrigatório</mat-error>
      <mat-error *ngIf="handleError('pessoaNome', 'pattern')">Digite apenas letras</mat-error>
      <mat-error *ngIf="handleError('pessoaNome', 'campoEmBranco')">Campo em branco</mat-error>
      <mat-error *ngIf="handleError('pessoaNome', 'maxlength')">Limite 200 caracteres</mat-error>
    </mat-form-field>

      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput formControlName="pessoaCpf" mask="000.000.000-00" placeholder="000.000.000-00">
        <mat-error *ngIf="handleError('pessoaCpf', 'required')">Campo Obrigatório</mat-error>
        <mat-error *ngIf="handleError('pessoaCpf', 'cpfInvalido')">CPF Inválido</mat-error>
        <mat-error *ngIf="handleError('pessoaCpf', 'maxlength')">Limite de 11 números</mat-error>
      </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="exemplo@exemplo.com" maxlength="100" type="email">
      <mat-error *ngIf="handleError('email', 'required')">Campo Obrigatório</mat-error>
      <mat-error *ngIf="handleError('email', 'emailInvalido')">E-mail Inválido</mat-error>
      <mat-error *ngIf="handleError('email', 'maxlength')">Limite de 100 caracteres</mat-error>
    </mat-form-field>

    <div [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-evenly center" >
      <mat-form-field>
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="cargo" placeholder="Selecione o cargo">
            <mat-option value="DIRETORA">DIRETORA</mat-option>
          <mat-option value="SECRETARIA">SECRETARIA</mat-option>
          <mat-option value="COORDENADORA">COORDENADORA</mat-option>
        </mat-select>
        <mat-error *ngIf="handleError('cargo', 'required')">Campo Obrigatório</mat-error>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput mask="(00) 0 0000-0000" formControlName="pessoaTelefone" placeholder="(00) 0 0000-0000">
      <mat-error *ngIf="handleError('pessoaTelefone', 'required')">Campo Obrigatório</mat-error>
      <mat-error *ngIf="handleError('pessoaTelefone', 'telefoneInvalido')">Telefone Inválido</mat-error>
      <mat-error *ngIf="handleError('pessoaTelefone', 'maxlength')">Limite de 11 caracteres</mat-error>
    </mat-form-field>
    </div>

    <div *ngIf="codigo == null" [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-evenly center" >
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" placeholder="Digite a senha" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.get('senha')?.hasError('required')">Senha é obrigatória</mat-error>
        <mat-error *ngIf="formGroup.get('senha')?.hasError('minlength')">Senha precisa ter pelo menos 6 caracteres</mat-error>
        <mat-error *ngIf="formGroup.get('senha')?.hasError('senhaInvalidaCaracter')">Senha precisa ter um caracter especial</mat-error>
        <mat-error *ngIf="formGroup.get('senha')?.hasError('senhaInvalidaMaiuscula')">Senha precisa ter uma letra maiúscula</mat-error>
        <mat-error *ngIf="formGroup.get('senha')?.hasError('senhaInvalidaNumeros')">Senha precisa ter pelo menos 3 números</mat-error>
      </mat-form-field>

      <mat-form-field [ngStyle]="verificarAlinhar() ? getErrorClass('senha') : {}">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput type="password" formControlName="confirmarSenha" placeholder="Confirme a senha" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.get('confirmarSenha')?.hasError('required')">Confirmação de senha é obrigatória</mat-error>
        <mat-error *ngIf="formGroup.get('confirmarSenha')?.hasError('naoConfere')">As senhas não coincidem</mat-error>
      </mat-form-field>

    </div>

    <div class="divBotoes" [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-between center" [ngStyle]="!verificarAlinhar() ? getErrorClass('senha') : {}" *ngIf="!this.verificarAlinhar()">
      <button mat-raised-button color="warn" type="button" (click)="this.mensagens.acaoCancelar()" class="button botao-cancelar">Cancelar</button>
      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
      <button mat-raised-button color="primary" type="submit" class="button botao-cadastro">Confirmar</button>
    </div>

    <div class="divBotoes" [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-between center" *ngIf="this.verificarAlinhar()">
      <button mat-raised-button color="primary" type="submit" class="button botao-cadastro">Confirmar</button>
      <button mat-raised-button color="warn" type="button" (click)="this.mensagens.acaoCancelar()" class="button botao-cancelar">Cancelar</button>
      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
    </div>
  </form>
</div>
