@import '../../../../StyleForms.css';

.imagem-card {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid #B2DFFF;
  object-fit: cover;
}

.imagem-card img {
  width: 100%;
}

.content-container {
  width: 100%;
  margin-right: 0;
}

.card-container {
  margin-bottom: 20px;
  text-align: left;
}

.container-card, .matricula-card {
  border: 3px solid #B2DFFF;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.btn-mov {
  margin-top: 20px;
}

@media (max-width: 999px) {
  .button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .button {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .responsaveis-table,
  .autorizados-table,
  .necessidades-table,
  .advertencias-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .mat-header-row,
  .mat-row {
    display: block;
  }

  .mat-cell,
  .mat-header-cell {
    text-align: left;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
  }

  .mat-header-cell {
    font-weight: bold;
  }

  .mat-cell {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .imagem-card,
  .content-container {
    width: 100%;
    margin-right: 0;
  }

  .imagem-card {
    margin-bottom: 10px;
  }

  .botao-cancelar {
    padding: 0 20px;
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .card-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .imagem-card {
    width: 30%;
    margin-right: 20px;
  }

  .content-container {
    width: 65%;
    margin-right: 0;
  }

   .botao-cancelar {
    padding: 0 26px;
    font-size: 12px;
  }
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fechar-icone {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}


img {
  border-radius: 7.5px;
}
