<div class="formMov">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" fxFlex="1 1 auto">
        <h1><strong>Dados da Matrícula</strong></h1>
        <div class="card-container">
            <div class="imagem-card">
                <img src="{{caminhoImagem ? caminhoImagem : 'assets/logos/foto-crianca.png' }}" alt="Imagem" class="imagem">
            </div>
            <div class="content-container">
                <mat-card class="matricula-card">
                    <mat-card-header>
                        <mat-card-title>Dados do Aluno</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Nome do Aluno:</strong> {{ nomeAluno }}</p>
                        <p><strong>CPF do Aluno:</strong> {{ cpfAluno }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ nascimento }}</p>
                        <p><strong>Status do Aluno:</strong> {{ statusAluno }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-card class="container-card">
            <mat-card-header>
                <mat-card-title>Tutores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Tutor:</strong> {{tutoresNomes}}</p>
                <p><strong>Telefone do Tutor:</strong> {{ tutoresTelefone }}</p>
            </mat-card-content>
            <mat-card-header>
                <mat-card-title>Responsáveis</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Responsáveis Permitidos:</strong> {{responsaveisNome}}</p>
            </mat-card-content>
            <p></p>
            <mat-checkbox color="primary" formControlName="possuiNecessidadeEspecial">
                Possui necessidades especiais? <br> EX: alergia, medicamentos, alimentação
            </mat-checkbox>
            <p></p>
            <ng-container *ngIf="firstClickNecessidades()">
                <div formArrayName="necessidadesEspeciais">
                    <div fxLayout="row" fxLayoutAlign="center" *ngFor="let campo of getNecessidadesEspeciaisControls(); let i = index;" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Necessidade especial</mat-label>
                            <input matInput formControlName="titulo" placeholder="EX: alergia, medicamentos, alimentação">
                            <mat-error *ngIf="getNecessidadeEspecialControl(i)?.hasError('required') && formGroup.get('possuiNecessidadeEspecial')?.value">
                                Desmarque ou preencha para continuar
                            </mat-error>
                        </mat-form-field>
                        <button mat-icon-button (click)="removerCampoNecessidade(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <button mat-button type="button" class="button-necessidade" (click)="adicionarCampoNecessidade(null)">
                        <mat-icon>add</mat-icon>
                        Adicionar necessidade
                    </button>
                </div>
            </ng-container>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button type="submit" class="button botao-cadastro">Salvar</button>
            </div>
            <mat-card-header>
                <mat-card-title>Advertências</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let advertencia of advertenciasAluno">
                    <h3>{{advertencia.titulo}}</h3>
                    <h3>Descrição</h3>
                    <p>{{advertencia.descricao}}</p>
                </div>
            </mat-card-content>
        </mat-card>
        <p></p>
        <p></p>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Fechar</button>
            <button mat-raised-button type="button" class="button " (click)="openDialogAdvertencia()">Advertência</button>
            <button mat-raised-button type="button" class="button botao-cadastro">Imprimir Matrícula</button>
        </div>
    </form>
</div>
