<div class="formMov">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" fxFlex="1 1 auto">
        <h1><strong>Dados da Matrícula</strong></h1>
        <div class="card-container">
            <div *ngIf="matriculaVisualiza && matriculaVisualiza.caminhoImagem" class="imagem-card">
                {{matriculaVisualiza.caminhoImagem}}
            </div>
            <div class="content-container">
                <mat-card class="matricula-card">
                    <mat-card-header>
                        <mat-card-title>Dados do Aluno</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Nome do Aluno:</strong> {{ matriculaVisualiza?.nomeAluno }}</p>
                        <p><strong>CPF do Aluno:</strong> {{ matriculaVisualiza?.cpfAluno }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ matriculaVisualiza?.nascimento }}</p>
                        <p><strong>Status do Aluno:</strong> {{ matriculaVisualiza?.statusAluno }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-card class="container-card">
            <mat-card-header>
                <mat-card-title>Responsáveis Legais</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Responsáveis:</strong></p>
                <ul>
                    <li *ngFor="let nome of matriculaVisualiza?.tutoresNomes">{{ nome }}</li>
                </ul>
                <p><strong>Telefones dos Responsáveis:</strong></p>
                <ul>
                    <li *ngFor="let telefone of matriculaVisualiza?.tutoresTelefone">{{ telefone }}</li>
                </ul>
            </mat-card-content>
            <mat-card-header>
                <mat-card-title>Autorizados a Buscar</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Pessoas Autorizadas:</strong></p>
                <ul>
                    <li *ngFor="let responsavel of matriculaVisualiza?.responsaveisNome">{{ responsavel }}</li>
                </ul>
            </mat-card-content>
            <mat-card-content>
                <p><strong>Necessidades Especiais:</strong></p>
                <ul>
                    <li *ngFor="let necessidade of matriculaVisualiza?.necessidades">
                        {{ necessidade.titulo }}
                    </li>
                </ul>
            </mat-card-content>
            <p></p>
            <mat-checkbox color="primary" formControlName="possuiNecessidadeEspecial">
                Possui necessidades especiais? <br> EX: alergia, medicamentos, alimentação
            </mat-checkbox>
            <p></p>
            <ng-container *ngIf="firstClickNecessidades()">
                <div formArrayName="necessidadesEspeciais">
                    <div fxLayout="row" fxLayoutAlign="center" *ngFor="let campo of getNecessidadesEspeciaisControls(); let i = index;" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Necessidade Especial</mat-label>
                            <input matInput formControlName="titulo" placeholder="EX: alergia, medicamentos, alimentação">
                            <mat-error *ngIf="getNecessidadeEspecialControl(i)?.hasError('required') && formGroup.get('possuiNecessidadeEspecial')?.value">
                                Desmarque ou preencha para continuar
                            </mat-error>
                        </mat-form-field>
                        <button mat-icon-button (click)="removerCampoNecessidade(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <button mat-button type="button" class="button-necessidade" (click)="adicionarCampoNecessidade(null)">
                        <mat-icon>add</mat-icon>
                        Adicionar necessidade
                    </button>
                </div>
            </ng-container>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button type="submit" class="button botao-salvar" >Salvar</button>
            </div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Advertências</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                    <strong>Título</strong>
                    <li *ngFor="let advertencia of matriculaVisualiza?.advertencias">{{ advertencia.titulo }}</li>
                    <strong>Descrição</strong>
                    <li *ngFor="let advertencia of matriculaVisualiza?.advertencias">{{ advertencia.descricao}}</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-card>
        <p></p>
        <p></p>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Fechar</button>
            <button mat-raised-button type="button" class="button botao-advertencia" (click)="openDialogAdvertencia()">Advertência</button>
        </div>
    </form>
</div>
