@import '../../../../StyleForms.css';

.imagem-card {
  width:26%;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid #B2DFFF;
}

.imagem-card img {
  width: 100%;
}

.content-container {
  width: 68%;
}

.card-container {
  margin-bottom: 20px;
  text-align: left;
}

.container-card, .matricula-card {
  border: 3px solid #B2DFFF;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.btn-mov {
  margin-top: 20px;
}

.botao-advertencia {
  padding: 0 28px;
  font-size: 13px;
}

@media (max-width: 959px) {
  .imagem-card, .content-container {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 999px) {
  .button {
    width: 180px !important;
    height: 50px !important;
    margin-bottom: 40px;
  }
}

img{
  border-radius: 7.5px;
}
