<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associação Sagrada Família</title>

    <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


</head>
<body>

<div class="container">
    <h1>Associação Sagrada Família</h1>

    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[0]" alt="Imagem Home" />
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[1]" alt="Imagem Home" />
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[2]" alt="Imagem Home" />
            </div>
        </ng-template>
    </ngb-carousel>

    <h2>Sobre Nós</h2>
    <h3>Bem-vindo à nossa Associação Sagrada Família!</h3>
    <p>
        Somos uma organização dedicada a proporcionar aprendizado de qualidade para crianças,
        enquanto os pais estajam trabalhando. Nossa missão é promover o bem-estar e o desenvolvimento integral das crianças,
        oferecendo um ambiente seguro e acolhedor para aprender e crescer.<br>Nossos programas de aprendizagem são projetados para
        estimular o desenvolvimento cognitivo, emocional e social das crianças, proporcionando-lhes oportunidades para explorar e aprender. Acreditamos que cada criança tem o potencial de alcançar grandes feitos, e estamos empenhados
        em ajudá-las a realizar seus sonhos.
    </p>
    <p>
        Por meio da generosidade de nossos doadores e colaboradores, podemos oferecer nossos serviços de forma gratuita para
        famílias que enfrentam dificuldades financeiras. <br>Cada doação que recebemos tem um impacto significativo em nossas
        operações e nos permite continuar a fornecer aprendizagem de qualidade para as crianças que mais precisam.<br>
        Junte-se a nós em nossa missão de criar um futuro melhor para as crianças em nossa comunidade.
        Seja um colaborador e faça uma doação.
    </p>
    <h4>Você também pode entrar em contato para saber como você pode contribuir!</h4>

    <h2>Contato (s)</h2>
    <ul>
        <li>Endereço: <a href="https://www.google.com/maps/place/Creche+Sagrada+Fam%C3%ADlia/@-16.2789316,-48.9744024,15z/data=!4m6!3m5!1s0x935ea4822878f04d:0x8cc15aafd0b3804!8m2!3d-16.2789316!4d-48.9744024!16s%2Fg%2F1w6r9c5p?entry=ttu" target="_blank">
            RUA RIO VERDE QD 69 LT 02 VILA JAIARA, Anápolis, GO, Brazil</a></li>
        <li>
            <div class="iframe-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15319.44098925695!2d-48.9744024!3d-16.2789316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ea4822878f04d%3A0x8cc15aafd0b3804!2sCreche%20Sagrada%20Fam%C3%ADlia!5e0!3m2!1spt-BR!2sbr!4v1715987580763!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </li>
        <li>Telefone: (62) 3099-6423</li>
        <li>Email: Associacao.sagradafamilia@hotmail.com</li>
        <li>Instagram: <a href="https://www.instagram.com/sagradafamiliaanps/" target="_blank"><i class="fab fa-instagram"></i> Associação Sagrada Família</a></li>
        <li>Facebook: <a href="https://www.facebook.com/sagradafamiliaanps/?locale=pt_BR" target="_blank"><i class="fab fa-facebook"></i> Associação Sagrada Família</a></li>
    </ul>

</div>

</body>
</html>
