<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associação Sagrada Família</title>

    <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


</head>
<body>

<div class="container">
    <h1>Associação Sagrada Família</h1>

    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[0]" alt="Imagem Home" />
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[1]" alt="Imagem Home" />
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="imagem-home1">
                <img [src]="images[2]" alt="Imagem Home" />
            </div>
        </ng-template>
    </ngb-carousel>

    <h2>Sobre Nós</h2>
    <h3>Seja bem-vindo à Associação Sagrada Família!</h3>
    <h3>Aqui você poderá realizar a matrícula da sua criança</h3>

    <p>
        Somos uma instituição filantrópica, sem fins lucrativos, ou seja vivemos de doação.<br>
        Nosso objetivo é proporcionar um acompanhamento de excelência para as crianças enquanto seus pais estão no trabalho.
        Buscamos promover o bem-estar e o desenvolvimento completo dos pequenos, oferecendo um ambiente seguro e acolhedor
        para que possam aprender e se desenvolver. A Associação é um ambiente rico em interação sociais, onde as crianças têm
        a oportunidade de brincar com outras crianças da mesma idade e aprender a compartilhar, colaborar e se comunicar.
        Nossos trabalhos são elaborados para estimular não apenas o desenvolvimento cognitivo, mas também emocional e social,
        proporcionando oportunidades para que possam explorar e adquirir conhecimento. Acreditamos no potencial de cada criança
        para conquistar grandes feitos, e estamos comprometidos em contribuir para a realização de seus sonhos.
    </p>
    <p>
        Através da solidariedade dos que contribuem e apoiam, conseguimos disponibilizar nossos serviços de maneira gratuita
        às famílias carentes e com vulnerabilidades. Cada contribuição que recebemos faz uma grande diferença em nossas
        atividades, possibilitando que continuemos a oferecer um apoio de excelência às crianças que mais necessitam.
        Participe conosco nessa jornada de construir um amanhã mais promissor para as crianças de nossa região.
        Torne-se um colaborador e faça sua contribuição.

    </p>
    <h4>Entre em contato para descobrir de que maneira você pode colaborar também!!</h4>

    <h2>Contato (s)</h2>
    <ul>
        <li>Endereço: <a href="https://www.google.com/maps/place/Creche+Sagrada+Fam%C3%ADlia/@-16.2789316,-48.9744024,15z/data=!4m6!3m5!1s0x935ea4822878f04d:0x8cc15aafd0b3804!8m2!3d-16.2789316!4d-48.9744024!16s%2Fg%2F1w6r9c5p?entry=ttu" target="_blank">
            RUA RIO VERDE QD 69 LT 02 VILA JAIARA, Anápolis, GO, Brazil</a></li>
        <li>
            <div class="iframe-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15319.44098925695!2d-48.9744024!3d-16.2789316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ea4822878f04d%3A0x8cc15aafd0b3804!2sCreche%20Sagrada%20Fam%C3%ADlia!5e0!3m2!1spt-BR!2sbr!4v1715987580763!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </li>
        <li>Telefone:  <a href="https://wa.me/556230996423" target="_blank"><i class="fab fa-whatsapp"></i> (62) 3099-6423</a></li>
        <li>Instagram: <a href="https://www.instagram.com/sagradafamiliaanps/" target="_blank"><i class="fab fa-instagram"></i> Associação Sagrada Família</a></li>
        <li>Facebook: <a href="https://www.facebook.com/sagradafamiliaanps/?locale=pt_BR" target="_blank"><i class="fab fa-facebook"></i> Associação Sagrada Família</a></li>
        <li class="email">Email:Associacao.sagradafamilia@hotmail.com</li>
    </ul>

</div>

</body>
</html>
