

<mat-card>
  <h2> Controle de Turmas</h2>
  <mat-card-actions [fxLayout]="mudarAlinhar()" fxLayoutAlign="center none" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="button-config" mat-raised-button [routerLink]="['/turma','novo']">
         <span>Nova turma</span>
        <mat-icon>add</mat-icon>
      </button>

    </div>
    <div class="searchFlex">
      <app-search-component [controller]="turmaService" (onSearchResult)="showResult($event)"/>
    </div>
  </mat-card-actions>
  <mat-card-content>
    <div style="overflow-x:auto">
      <table mat-table [dataSource]="turmaListaDataSource" class="tabela">


        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Turma </th>
          <td mat-cell *matCellDef="let element" > {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="turno">
          <th mat-header-cell *matHeaderCellDef> Turno </th>
          <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
        </ng-container>


        <ng-container matColumnDef="nomeProfessor">
          <th mat-header-cell *matHeaderCellDef> Professor(a) </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeProfessor}} </td>
        </ng-container>

        <ng-container matColumnDef="telefoneProfessor">
          <th mat-header-cell *matHeaderCellDef> Telefone da Professora </th>
          <td mat-cell *matCellDef="let element"> {{mascaras.mascaraTelefone(element.telefoneProfessor)}} </td>
        </ng-container>

        <ng-container matColumnDef="quantidadeAlunos">
          <th mat-header-cell *matHeaderCellDef> Qtd. de Alunos </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeAlunos}} </td>
        </ng-container>



        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="acoes">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #acoes="matMenu">
              <button mat-menu-item [routerLink]="['/turma',element.id]">
                <mat-icon>edit</mat-icon>Editar
              </button>
              <button mat-menu-item (click)="confirmarExcluir(element)">
                <mat-icon>delete_forever</mat-icon>Excluir
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasMostrar; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasMostrar;"></tr>
      </table>
    </div>
    <mat-paginator style="justify-content: center" [length]="this.qtdRegistros"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card-content>
</mat-card>


