@import '../../../../StyleForms.css';

.conteudo-mat-tab{
  width: 95%;
  margin-top: 20px;
}

.mat-tab-titulos{
  width: 100%;
}

.mat-mdc-tab-header {
  border: none;
}

.mat-mdc-tab.mdc-tab{
  background-color: #B2DFFF;
}

.mdc-tab__text-label{
  color: black!important;
}

.botao-voltar{
  background-color: #f6e39b !important;
  color: black!important;
}




